# This file is used by Direnv and it helps loading and upnloading environment
# variables automatically when navigating directories.  For more information
# about Direnv, visit the homepage: https://direnv.net/

PERL5LIB="$PWD/lib:$PWD/t:$PERL5LIB"
use guix --development po4a
