Allan Nordhøy <epost@anotheragency.no>
BFG <Tom.Fredrik@blenning.no>
Dr. Tobias Quathamer <toddy@debian.org> <toddy15@users.noreply.github.com>
Dr. Tobias Quathamer <toddy@debian.org>
Helge Kreutzmann <debian@helgefjell.de>
Jean-Baptiste <jean-baptiste@holcroft.fr>
Marco Ciampa <ciampix@posteo.net>  
Martin Quinson  <martin.quinson@ens-rennes.fr> <624847+mquinson@users.noreply.github.com>
Martin Quinson <martin.quinson@ens-rennes.fr>
Martin Quinson <martin.quinson@ens-rennes.fr> <martin.quinson@loria.fr>
Rafael Fontenelle <rafaelff@gnome.org>
Trần Ngọc Quân <vnwildman@gmail.com>
Yuri Chornoivan <yurchor@ukr.net>
Zero King <l2dy@icloud.com>
