Source: po4a
Section: text
Priority: optional
Maintainer: Martin Quinson <martin.quinson@tuxfamily.org>
Uploaders: Denis Barbier <barbier@debian.org>, Martin Quinson <martin.quinson@tuxfamily.org>
Standards-Version: 3.6.0
Build-Depends-Indep: debhelper (>>3.0.0), liblocale-gettext-perl, perl-modules

Package: po4a
Architecture: all
Depends: perl | perl5, gettext (>=0.11), liblocale-gettext-perl, perl-modules, libsgmls-perl, sp
Conflicts: po-pod, po-man, liblocale-po4a-perl
Description: Tools for helping translation of documentation
 The goal po4a [po for anything] project is to ease translations (and more
 interestingly, the maintenance of translation) using gettext tools on areas
 where they were not expected like documentation.
 .
 This package contains the main libraries of po4a, and the following
 sub-modules:
 .
   - KernelHelp: The help messages associated with each kernel compilation
     option. 
   - Man: Good old manual page format.
   - Pod: Perl documentation format.
   - Sgml: either debiandoc or docbook DTD.
